.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  // 얘도 임시 확인용
  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  // 부모요소인 header에 flex를 넣어서 자식요소인 img, form, nav를 나눈다.
  display: flex;
  // 얘로 자식요소인 img, form, nav를 horizontal 정렬한다.
  justify-content: space-between;
  // 얘로 자식요소인 img, form, nav를 vertical 정렬한다.
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    // 한 줄에 공간 없을 때 아랫줄로 내려갈 수 있게 해준다.
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
  }
}

.content {
  // 부모요소에 flex를 넣어서 자식요소인 사이드바와 호텔뷰 부분을 양쪽으로 나눈다.
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  // flex: grow shrink basis 순이다.
  // flex-grow: 화면이 커져서 여백이 생길 경우 자식요소1을 어떤 비율로 늘릴 건지(0이면 안 늘림)
  // flex-shrink: 화면이 작아져서 얘가 들어갈 자리마저 부족해지면 자식요소1을 어떤 비율로 줄일 건지(0이면 안 줄임)
  // flex-basis: 자식요소1의 기본 사이즈
  flex: 0 0 18%;

  display: flex;
  // 메인 방향이 가로가 아니라 세로가 되었다.
  flex-direction: column;
  // sidebar의 자식요소인 side-nav와 legal을 양끝(여기서는 위아래)으로 띄워둔다.
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;

  // flex-grow: 1;이라서 남은 여백 다 가져간다.
  flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.description {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-right: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.user-reviews {
  flex: 1;

  display: flex;
  flex-direction: column;
  // align-items: center전에는 가로 방향으로 디폴트값으로 stretch가 된다.
  align-items: center;
}
