.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}

.home {
  background-color: $color-grey-light-1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // 1) name 때문에 갭을 줬는데 정작 name있는 부분은 갭이랑 겹쳐져서 3.5rem만큼 느껴지지가 않음
  grid-row-gap: 3.5rem;

  &__img {
    width: 100%;
    // 처음에는 column만 지정했었는데 하트아이콘(like)을 첫번째 행에 배치하니까 img가 두번째 행으로 밀려버려서 row를 1 / 2로 직접 지정했다. 그래서 하트랑 이미지가 동시에 첫번째 줄에 있음
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    // 이거 없어도 이미 하트가 그림 위로 올라오기는 하는데 혹시 모르니까 여기는 1로 지정하고
    z-index: 1;
  }

  &__like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: $color-primary;
    height: 2.5rem;
    width: 2.5rem;
    // 하트는 2로 지정함
    z-index: 2;
    justify-self: end;
    margin: 1rem;
  }

  &__name {
    // 얘도 column만 지정했었는데 1번행으로 올리려고 row를 뒤늦게 지정했다.
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    // 기본이 stretch라서 end로 행 바닥부분에 정렬
    align-self: end;
    // 이름이 그림에 가려지지 않게 여기는 3으로 줬다.
    z-index: 3;

    width: 80%;
    font-family: $font-display;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-secondary;
    color: #fff;
    font-weight: 400;
    // 세로로 50% 내려줬다.
    transform: translateY(50%);
  }

  // 2) 아쉽게도 아직 각 줄마다 갭 지정하는 방법은 없기 때문에 걍 여기에 margin-top을 줬다.
  &__location,
  &__rooms {
    margin-top: 2.5rem;
  }

  &__location,
  &__rooms,
  &__area,
  &__price {
    font-size: 1.5rem;
    margin-left: 2rem;

    display: flex;
    align-items: center;

    svg {
      fill: $color-primary;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
  }

  &__btn {
    grid-column: 1 /-1;
  }
}
